/*
Background
 */

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #905f00;
}

/*
Header
 */

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #f2cf8c;
}

.menu{
    flex-grow: 1;
}

.menu ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li{
    margin-right: 50px;
}

.menu li:last-child{
    margin-right: 0;
}

.menu a{
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.menu a:hover{
    color: #905f00;
    border: solid;
}

@media (max-width: 600px) {
    .menu a{
        display:none;
    }
    .menu_btn{
        width:30px;
        height: 30px;
        position: relative;
    }

    .menu_btn span{
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: black;
        transform: translate(-65%, -65%);
    }

    .menu_btn span:nth-of-type(1){
        top: 17%;
    }

    .menu_btn span:nth-of-type(2){
        top: calc(50% - 5px);
    }

    .menu_btn span:nth-of-type(3){
        top: calc(50% + 5px;);
    }

    .burger_menu{
        position: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0px;
        background: #FFEFBA;
        transform: translate(-100%);
        transition: transform 0.5s;
    }

    .burger_menu.active{
        transform: translateX(0);
    }

    .burger_menu li {
        list-style-type: none;
        margin-left: 5%;
    }

    .burger_menu a{
        text-decoration: none;
        font-size: 15px;
        color: black;
    }

    .burger_menu a:hover{
        border: solid;
        color: #905f00;
    }

}

@media (min-width: 600px){
    .burger_menu{
        display: none;
    }
}

.logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.logo a{
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.list{
    float: right;
}

@media(max-width: 280px)
{
    header{
        width: 280px;
    }
}

/*
Footer
 */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width:100%;
    background: #f2cf8c;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 40px;
    padding-right: 5px
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*
Content
 */

.cookielist{
    background-color: #f2cf8c;
    height: 280px;
    width: 300px;
    margin: auto;
    margin-top: 4%;
    overflow: auto;
    text-align: center;
}

.card{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #dcb15e;
}

.card img{
    width: 10%;
}

.title_cookielist{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.card p{
    padding: 10px;
    white-space: nowrap;
}

.card button{
    background-color: green;
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px
    rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 5px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.card a{
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.card button:hover{
    background: red;
}

@media(max-width: 280px)
{

    .cookielist{
        width: 265px;
    }

}


/*
Profile User
 */
.profile{
    background-color: #f2cf8c;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
}

.profile img{
    width: 20%;
}

.input_img{
    z-index: 5;
    width: 30px;
    position: absolute;
    margin-top:20px;
    margin-left: 13px;
    opacity: 0;
}

.download_img{
    position: relative;
}

/*
Auth Form
 */

.auth{
    max-width: 200px;
    margin: 50px auto 0;
    padding: 20px;
    background: #f2cf8c;
}

.auth button{
    margin: 5px 0px 0px 0px;
    padding: 5px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #905f00;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

.auth h1{
    padding: 7px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.auth form{
    display: block;
    width: 100px;
}

.auth button:hover{
    background: green;
    box-shadow: 1px 2px 3px #f2cf8c;
}

.auth input{
    display: block;
    width: 173px;
    height: calc(1.00rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.auth label{
    width: 100px;
    font-style: italic;
    font-size: 20px;
}

@media(max-width: 280px)
{

    .profile{
        width: 255px;
    }

}

/*
404 Page
 */
.content{
    width: 50%;
    background-color: #f2cf8c;
    margin: 0 auto;
    margin-top: 10%;
    padding: 50px;
    position: relative;
}

.content button{
    position: absolute;
    left: 38%;
    padding-left: 10%;
    padding-right: 10%
}

.page404 {
    padding: 50px;
    text-align: center;
}

.page404 a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
